body{
  
    background-size: 1950px 1000px;
    background-repeat: no-repeat;
    background-color: gray;
    position: relative;
}

.box {
    background: rgb(248, 248, 248);
    height: 30px;
    width: 80px;
  }
  
  img {
    width: 1885px;
    height: 175px;
        
  }

  h1 { text-align: center;
  background-color: #ffefb4;
	padding: 1vw;
	width: 20vw;
  border: 2px solid #555;
	border-radius: 20px;
	margin-top: 1vh;
	margin-left: 40vw; 
  color:rgb(201, 7, 7);

  }

  h2 {
  color:#dd1616
  
  }

  h3 {
    color:#dd1616

  }

  #bet label {
    color:#dd1616

  } 

  #Rat1 {
    position: absolute;     
    width:120px;
    height:150px;
    
  }

  #Rat2 {
    position: absolute;    
    width:120px;
    height:150px;
    
  }
    
  #Rat3  {
    position: absolute;
    width:120px;
    height:150px;
    
  }

  #track {
      position: absolute; 
      top: 86vh;
      opacity: 0.75;

  }

#results{
  
  text-align: center;
  background-color: #ffefb4;
  padding: 1vw;
  width: 15vw;
  border: 2px solid #555;
  border-radius: 10px;
  margin-top: 40vh;
  margin-left: 0vw;    
  float: left;


}
  #bet {
    text-align: center;
    background-color: #ffefb4;
    padding: 1vw;
    width: 8vw;
    border: 2px solid #555;
    border-radius: 10px;
    margin-top: 40vh;
    margin-left: 46vw;    
    float: left;

  }

  #youHave {
    margin-top: -1vw;

  }


  #placeYourBet {
    margin-top: -1vw;

  }
  
  #betRat{
    text-align: center;
    margin-left: 0vw;
    margin-top: 1vh;
    
  }  
  
  #funds {font-weight: bold;}

  #funds:before {content: "$";}  
  label, input, select {float:  left; display: block; width: 8vw; margin-bottom: 0.5vh;}
  label {clear: left;}

  #user-button button {
    margin-top: 1vw;    
    background: #ffefb4;    
    border-radius: 10px;
    font-family: Arial;
    color: #dd1616;
    font-size: 20px;
    padding: 2px 2px 2px 2px;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 1px 1px 1px #333;
    
  } 

  
  
  /* The slider itself */
  .slidecontainer {
    
    
    width: 20%;
  }
  
  .slider {
    margin-left: 49vw;
    margin-top: -37vh;
    -webkit-appearance: none;
    width: 20%;
    height: 25px;
    background: #ffefb4;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #dd1616;
    cursor: pointer;
  }
  
 
  
